* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0b0f1a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #0b0f1a;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar a.active {
    color: gold;
}

/* HERO */
.about-hero {
    height: 60vh;
    background: url('images/1') center;
    position: relative;
    width: auto;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 45px;
}

.overlay p {
    margin-top: 10px;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    padding: 60px;
    gap: 40px;
}

.about-text {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.feature-box {
    width: 30%;
    background: #111827;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* TEAM */
.team {
    padding: 50px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.team-card {
    width: 30%;
    background: #111827;
    padding: 20px;
    border-radius: 10px;
}

.team-card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}